@using FurnitureStockMarket.Models.Order;

@model IEnumerable<MyOrdersViewModel>

@{
    ViewBag.Title = "My orders";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

@if (Model.Count() == 0)
{
    <p style="text-align: center">You haven't ordered anyhing yet!</p>
}
else
{
    @foreach(var order in Model)
{
    <div class="container" style="display: flex; flex-direction: column; align-items: center; width: 100%; margin: 10px 0;">
        <div style="width: 100%; min-height: 150px; background-color: #f0f0f0; margin: 10px 0; display: flex; flex-wrap: wrap; align-items: center; justify-content: space-between; overflow-x: auto;">
            <div style="width: 100%; display: flex; justify-content: space-between;">
                <div style="display: flex; align-items: center; margin-left: 20px;">
                    Order status: @order.OrderStatus
                </div>
                <div style="flex: 1; text-align: center;">
                    Payment method: @order.PaymentMethod
                </div>
                <div style="display: flex; align-items: center; margin-right: 20px;">
                    Shipping method: @order.ShippingMethod
                </div>
            </div>
            <div style="width: 100%; margin-left: 20px; display: flex; align-items: center;">
                <div>
                    Shipping address: @order.Customer.ShippingAddress
                </div>
                <div style="margin-left: 20px;">
                    Billing address: @order.Customer.BillingAddress
                </div>
            </div>
            <div style="width: 100%; margin-left: 20px; align-items: flex-start; ">
                @foreach(var item in order.ProductsOrders)
                {
                    <div style="align-items: center; margin: 10px;">
                        <div style="display: flex; align-items: center;">
                            <img src="@item.Product.ImageURL" alt="Product image" style="width: 70px; height: 70px;">
                            <div style="margin-left: 10px;">@item.Product.Name</div>
                            <div style="margin-left: 10px;">Price: @item.Product.Price$</div>
                            <div style="margin-left: 10px;">Quantity: @item.Quantity</div>
                            <div style="margin-left: 10px;">Total Price of @(item.Product.Name)s: @(item.Quantity*item.Product.Price)$</div>
                        </div>
                    </div>
                }
            </div>
            <div style="margin-left: 20px">
                Total price: @order.TotalPrice$
            </div>
            <a asp-controller="Order" asp-action="CancelOrder" asp-route-id="@order.Id" class="btn btn-danger mt-2 mb-2 p-3 fw-bold" style="margin-right: 30px; width: 200px; height: 60px">Cancel order</a>
        </div>
    </div>
}
}