@using FurnitureStockMarket.Models.MenuSearch;

@model IEnumerable<AllProductsByTermViewModel>

@if (Model.Count()==0)
{
    ViewData["Title"] = $"No products matching!";

    <h2 class="text-center">@ViewBag.Title</h2>
    <hr />
}
else
{
    ViewData["Title"] = $"Products matching: {Model.First().SearchTerm}";

    <h2 class="text-center">@ViewBag.Title</h2>
    <hr />

    <div class="text-center row">
        @foreach(var p in Model)
        {
            <div class="card col-4" style="width: 20rem">
                <a href="/Home/ProductDetails/@p.Id" style="text-decoration: none; color: black;">
                    <div>
                       <p class="mb-0" style="margin-top: 10px">@p.Name</p>
                    </div>
                    <div class="card-body" style="padding-bottom: 0px">                
                        <img src="@p.ImageURL" alt="Product image" style="width: 250px; height: 200px; margin-right: auto; margin-left: auto; display: block">                
                    </div>
                </a>
                <div>                
                    <p class="mb-0" style="padding-bottom: 10px; padding-top: 10px"><span class="fw-bold">Price: </span>@p.Price$</p>
                </div>
                <div>                
                    <p class="mb-0" style="padding-bottom: 10px; padding-top: 10px"><span class="fw-bold">Rating: </span>@(p.ProductReviews.Count().Equals(0) ? 0 : p.ProductReviews.Average(r => r.Rating))/5</p>
                </div>
                
                @if (p.IsAdmin)
                {
                    <a asp-area="Admin" asp-controller="Admin" asp-action="EditProduct" asp-route-id="@p.Id" class="btn btn-warning mb-2 w-100 p-3 fw-bold">Edit</a>                
                }
            
                <a asp-controller="ShoppingCart" asp-action="Add" asp-route-id="@p.Id" class="btn btn-success mb-2 w-100 p-3 fw-bold">Add to cart</a>
            </div>
        }
    </div>
}