@using FurnitureStockMarket.Models.ShopingCart;

@model IEnumerable<CartItemViewModel>

@{
    ViewBag.Title = "Shoping cart";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

@if (Model.Count() == 0)
{
    <p style="text-align: center">Your cart is empty.</p>
}
else
{
    @foreach(var item in Model)
    {
        <div class="container" style="display: flex; flex-direction: column; align-items:center">
            <div style="width: 90%; height: 100px; background-color: #f0f0f0; margin: 10px 0; display: flex; align-items: center">
                <img src="@item.ImageURL" alt="Product image" style="width: 70px; height: 70px; margin-right: 10px; margin-left: 30px">

                <div style="margin-right: 4px">
                    @item.Name -
                </div>
                <div style="margin-right: 10px">
                    Price: @item.Price$
                </div>
                <div style="margin-right: 10px">
                    Quantity: @item.Quantity
                </div>
            </div>
        </div>
    }
}