@using FurnitureStockMarket.Models.ShoppingCart;

@model IEnumerable<CartItemViewModel>

@{
    ViewBag.Title = "Shopping cart";
}

<h2 class="text-center">@ViewBag.Title</h2>
<hr />

@if (Model.Count() == 0)
{
    <p style="text-align: center">Your cart is empty.</p>
}
else
{
    @foreach(var item in Model)
    {
        <div class="container" style="display: flex; flex-direction: column; align-items:center">
            <div style="width: 100%; height: 100px; background-color: #f0f0f0; margin: 10px 0; display: flex; align-items: center; justify-content: space-between;">
                <div style="display: flex; align-items: center;">
                    <img src="@item.ImageURL" alt="Product image" style="width: 70px; height: 70px; margin-right: 10px; margin-left: 30px">
                    <div style="margin-right: 4px">
                        @item.Name -
                    </div>
                    <div style="margin-right: 10px">
                        Price: @item.Price$
                    </div>
                    <div style="margin-right: 10px">
                        Quantity: @item.Quantity
                    </div>
                </div>
                <div class="d-flex justify-content-center">
                    <a asp-controller="ShoppingCart" asp-action="RemoveOneItem" asp-route-id="@item.Id" class="btn btn-danger mt-2 mb-2 p-3 fw-bold" style="margin-right: 30px; width: 60px; height: 60px">-</a>
                    <a asp-controller="ShoppingCart" asp-action="AddOneMoreItem" asp-route-id="@item.Id" class="btn btn-success mt-2 mb-2 p-3 fw-bold" style="margin-right: 30px; width: 60px; height: 60px">+</a>
                </div>
            </div>
        </div>

        <p>Total: @Model.Sum(item => item.Price * item.Quantity)$</p>
    }
}